*{
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif !important;
    background-color:#FDFBFF ;
}

div.card-recettes{
    flex-flow:column;
}

.profile-img {
    height: 50px;
    width: 50px;
    background: url("https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    right: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



@media only screen and (min-width: 768px) {
    div.card-recettes {
        flex-flow: row;
       
    }
    .cardlead {
        width: 40rem;
    }

}
@media only screen and (min-width: 992px) {
    div.card-recettes {
        flex-flow: row;
        
    }
    .cardlead {
        width: 40rem;
    }
    

} 